@media (max-width: 1400px) {
  .services-section-main {
    min-height: 700px !important;
  }
}

@media (max-width: 992px) {
  .services-section-main {
    min-height: 900px !important;
  }
}

@media (max-width: 1200px) {
  .services-section-main {
    min-height: 800px !important;
  }
}

